:root {
  --white: #ffffff;
  --black: #191a1e;
  --accent: #a58861;
}

html,
body {
  padding: 0px;
  margin: 0px;
  color: var(--black);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
  font-weight: 500;
}

main {
  padding: 80px 24px;
}
